<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html { padding: 10px; }
body { max-width: 600px; margin-left: auto; margin-right: auto; }
img { max-width: 100%; text-align: center; margin-left: auto; margin-right: auto; display: block; }
p.author { font-weight: bold; }
p.date { font-style: italic; }
pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
.gif { margin: 0px; }
</style>
<link rel="icon" href="/img/favicon.png" type="image/png">
<title>{{ .Title }}{{ if ne .Page.UrlPath "" }} - {{ .Site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ .Page.Permalink }}">
<link rel="alternate" type="application/rss+xml" href="/feed.xml">
<link rel="sitemap" type="application/xml" href="/sitemap.xml">
{{ if not .Page.DatePublished.IsZero -}}
<meta property="og:title" content="{{ .Page.Title }}">
<meta property="og:url" content="{{ .Page.Permalink }}">
<meta property="og:image" content="{{ .Site.Url }}img/avatar.jpeg">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{- end -}}
</head>
<body>

