---
layout: compress
---
	<link rel="canonical" href="https://tannercollin.com/bypassing-isp-blocked-ports/" />
		<meta name="date" content="2023-12-10 00:00:00-07:00" />
		<meta name="description" content="Bypass ISP blocked ports using VPN port forwarding for public access." />
		<meta name="summary" content="Bypass ISP blocked ports using VPN port forwarding for public access." />
		<meta name="category" content="Writing" />
		<meta name="tags" content="feed" />
			<meta name="twitter:card" content="summary_large_image" />
			<meta name="twitter:image" content="https://t0.vc/media/ports1.svg" />
			<meta property="og:image" content="https://t0.vc/media/ports1.svg" />
		<meta charset=UTF-8>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			a.external {
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath fill='%23fff' stroke='%23000' d='M1.5 4.518h5.982V10.5H1.5z'/%3E%3Cpath fill='%23000' d='M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z'/%3E%3Cpath fill='%23fff' d='m9.995 2.004.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z'/%3E%3C/svg%3E%0A");
				background-position: center right;
				background-repeat: no-repeat;
				padding-right: 15px;
			}
			.toclink:not(:hover) {
				text-decoration: none;
				outline: none;
			}
			.content {
				max-width: 50rem;
				line-height: 1.4;
			}
			.toclink {
				color: black;
			}
			.highlight > pre {
				margin: 0;
				padding: 0.5rem;
				overflow-x: auto;
				background-color: #eee;
			}
			:not(pre)>code {
				padding: 0 2px;
				font-size: 0.8rem;
				background-color: #eee;
			}
			.toc {
				display: none;
			}
			img:not(.floated) {
				width: 600px;
				max-width: 100%;
				height: auto;
				color-scheme: light;
			}
			.floated {
				float: left;
				margin-right: 1rem;
			}
			@media screen and (min-width:63rem) {
				.content .aside {
					display: inline;
					float: right;
					position: relative;
					width: 10rem;
					margin-right: -12rem;
					font-size: 0.9rem;
				}
			}

		</style>
		<div class="content">
			<p><a href="/">Home | t0.vc</a></p>
			<h1>{{ page.title }}</h1>
			<p>{{ post.excerpt }}</p>
			Sun 10 December 2023
<hr/>

{{ content }}
